* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto';
}

/** sidebar **/
.sidebar {
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    width: 150px;
    height: 935px;
    background: #191718;
}
.sidebar a {
    display: block;
    height: 44px;
    padding: 14px 77px 11px 16px;
    border-bottom: 1px solid #5C5C5C;
    font-weight: 700;
}
.sidebar a:hover{
    background-color: #5C5C5C;
}

/** content **/
.content {
    margin-left: 150px;
    width: 1768px;
    height: 935px;
    background-color: #FFFFFF;
}
.content .logo{
    margin: 20px 729px 15px 729px;
}
.content .quote{
    background-color: #EFEFEF;
    width: 1510px;
    height: 210px;
    margin: 15px 129px 20px 129px;
    text-align: center;
}
.content .quote h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-top: 38px;
    padding-bottom: 9px;
}
.content .quote p{
    width: 972px;
    height: 95px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 9px;
    margin-left: 269px;
}
.content .post{
    display: inline-block;
    width: 470px;
    height: 252px;
    margin: 20px 25px 182px 25px;
}
.content .post:first-child{
    margin-left: 129px;
}
.content .post:last-child{
    margin-right: 0px;
}
.content .post h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
}
.content .post img{
    width: 128px;
    height: 128px;
    float: left;
}
.content .post .up{
    width: 326px;
    height: 134px;
    font-size: 16px;
    line-height: 19px;
    float: right;
}
.content .post .down{
    width: 470px;
    height: 72px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 152px;

}
.content .footer{
    border-top: 1px solid #DEDEDE;
}
.content .footer p{
    padding-left: 129px;
    padding-top: 30px;
    padding-bottom: 30px;
}